{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %} <!-- Cargar el tag estático -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div style="max-width: 400px; margin: 50px auto; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h1>INICIAR SESIÓN</h1>
        <form method="POST"  style="margin-top: 20px;">
            {% csrf_token %}
            <div style="margin-bottom: 15px;">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" placeholder="Ingrese usuario">
            </div>
            <div style="margin-bottom: 15px;">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingrese su contraseña">
            </div>
            <button type="submit" class="btn-custom btn-custom-center" style="width: 100%;">Ingresar</button>
        </form>
        {% if error %}
            <p style="color: red; text-align: center; margin-top: 15px;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
