
body {
    background-color: #f8f9fa;  
    font-family: 'Helvetica Neue', Arial, sans-serif;  
    color: #343a40;
}


h1 {
    color: #007bff;  
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;  
    text-transform: uppercase;  
}


.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;  
    color: white;  
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}


.btn-custom:hover {
    background-color: #0368d4;  
}


.btn-custom-center {
    display: inline-block;
    margin: 0 auto;
}
